streamlit==1.54.0
streamlit-webrtc==0.64.5
streamlit-js-eval==1.0.0

tensorflow-cpu==2.15.0
keras==2.15.0

torch==2.2.2
torchvision==0.17.2
ultralytics==8.2.0

opencv-python-headless==4.9.0.80
lap>=0.5.12
av==11.0.0
numpy==1.26.4
